
<div class="container">
    <form [formGroup]="userform" autocomplete="off">
        <div class="mb-1">
            <label for="name" class="form-label">Name</label>
            <div class="input-group has-validation">
                <input type="text" #name [ngClass]="{'form-control': true, 'is-invalid': userform.get('name')?.invalid &&
                (userform.get('name')?.dirty || userform.get('name')?.touched)}" id="name" name="name"
                    formControlName="name" placeholder="Name">
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="mb-1">
            <label for="mobile" class="form-label">Mobile</label>
            <div class="input-group has-validation">
                <input type="text" maxlength="10" [ngClass]="{'form-control': true, 'is-invalid': userform.get('mobile')?.invalid &&
                (userform.get('mobile')?.dirty || userform.get('mobile')?.touched)}" id="mobile" name="mobile"
                    formControlName="mobile" placeholder="Mobile">
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
       
        <div class="mb-1">
            <label for="email" class="form-label">Email</label>
            <div class="input-group has-validation">
                <input type="email" [ngClass]="{'form-control': true, 'is-invalid': userform.get('email')?.invalid &&
                    (userform.get('email')?.dirty || userform.get('email')?.touched)}" id="email" name="email"
                    formControlName="email" placeholder="xyz@gmail.com">
                <div class="invalid-feedback">
                    {{userform.get('email')?.hasError('required') ? 'This field is required.':'Invalid Email'}}
                </div>
            </div>
        </div>
        <div class="mb-1">
            <label for="DOB" class="form-label">DOB</label>
            <p-calendar [showIcon]="true" inputId="icon" formControlName="dob" [ngClass]="{'form-control': true, 'is-invalid': userform.get('dob')?.invalid &&
            (userform.get('dob')?.dirty || userform.get('dob')?.touched)}"></p-calendar>
        </div>
        <div class="mb-1">
            <table>
                <tbody>
                    <div formArrayName="hobbies">
                        <tr>
                            <div>
                                <button type="button" (click)="onAddHobby()" class="btn btn-sm btn-warning" style="width: 100px;"id="hobbies">Add hobby</button>
                            </div><br>
                        </tr>
                        <tr formControlName="id" >
                            <td class="input">
                                <div class="form-label" *ngFor="let hobby of hobbycontrols; let idx = index ">
                                    <input type="text"  formControlName="hobbies" style="width: 320px;" [formControlName]="idx" id="hobbies"><br>
                                </div>
                            </td>
                            <td>
                             <div *ngFor="let hobby of hobbycontrols;let idx = index"  class="input-row">
                                <button mat-icon-button color="primary" *ngIf="hobbycontrols.length>0 " (click)="editControl(idx)" routerLink="./add-user">
                                     <mat-icon >edit_circle</mat-icon>
                                </button>
                               </div>
                           </td>
                           <td>
                            <div *ngFor="let hobby of hobbycontrols;let idx = index"  class="input-row">
                               <button mat-icon-button color="primary" *ngIf="hobbycontrols.length>0 " (click)="removeControl(idx)" routerLink="./add-user">
                                    <mat-icon >remove_circle</mat-icon>
                               </button>
                              </div>
                          </td>
                        </tr>
                            </div>
        </tbody>
        </table>
        </div>
        <div class="mb-1">
            <label for="email" class="form-label">Gender</label>
            <div class="input-group has-validation">
                <select [ngClass]="{'form-select': true, 'is-invalid': userform.get('gender')?.invalid &&
                    (userform.get('gender')?.dirty || userform.get('gender')?.touched)}"
                    aria-label="Default select example" formControlName="gender">
                    <option value=""> --Select--</option>
                    <option value="Male" selected="userform.get('gender')?.value=='Male'">Male</option>
                    <option value="Female" selected="userform.get('gender')?.value=='Female'">Female</option>
                </select>
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="mb-1">
            <label for="name" class="form-label">User Type</label>
            <div class="input-group has-validation">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" formControlName="userType" type="radio" id="User" value="User">
                    <label class="form-check-label"for="User">User</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" formControlName="userType" type="radio" id="Admin" value="Admin">
                    <label class="form-check-label" for="Admin">Admin</label>
                </div>
            </div>
        </div>
        <div class="mb-1">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" formControlName="isActive" id="isActive">
                <label class="form-check-label" for="isActive">Is Active</label>
            </div>
        </div>
        <div class="mb-1">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button (click)="save()" [disabled]="userform.invalid" class="btn btn-primary" type="button">
                    {{id==0 || id==null ?'Save':'Update'}}</button>
                <button class="btn btn-secondary" type="button">Reset </button>
            </div>
        </div>

        <div class="mb-1">
            {{userform.value |json}}
        </div>
    </form>
</div>